/* -------------------Home Section Screen 980px-------------------------- */

@media (max-width:1024px) {
    .list {
        display: none;
    }

    .sidebartoggle {
        display: block;
        width: 22px;
        height: 22px;
        transform: 0.5s ease;
    }

    .spinner {
        height: 3px;
        margin-top: 4px;
        background: white;
    }

    #opensidebar:checked~.sidebartoggle>.spinner.middle {
        opacity: 0;
    }

    #opensidebar:checked~.sidebartoggle>.spinner.top {
        transform: rotate(135deg);
        margin-top: 8px;
    }

    #opensidebar:checked~.sidebartoggle>.spinner.bottom {
        transform: rotate(-135deg);
        margin-top: -9px;
    }

    #sidebarmenu {
        position: absolute;
        width: 100%;
        height: 70vh;
        background-color: #57606f;
        display: block;
        top: 0;
        left: 0;
        margin-top: 60px;
        transform: translateY(-80vh);
        transition: transform 0.5s ease;
        z-index: 10;
    }

    #opensidebar:checked~#sidebarmenu {
        transform: translateY(0);
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .menu li {
        list-style: none;
        padding: 15px 0;
        margin-top: 40px;
    }

    .menu li a {
        color: white;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        border-radius: 8px;
        padding: 12px 20px;

    }

    .menu li a:hover {
        color: #FC427B;
        border-color: #FC427B;
    }

    .home-contant {
        margin-top: 25%;
        transition: 0.5s eaase;
    }
}


/* @media (min-width:320px) and (max-width:480px) {
    .home-section {
        width: 100%;
        height: 100vh;
    }

    .home-contant {
        width: 300px;
    }

    .home-contant h3 {
        font-size: 16px;
    }

} */

@media(min-width:281px) and(max-width:768px) {
    .home-section {
        width: 100%;
        height: max-content;
    }

    .nav {
        padding: 15px;
    }

    .home-contant {
        width: 400px;
        margin-left: 20px;
    }

    .home-contant h3 {
        font-size: 16px;
    }

    .home-contant h3:nth-of-type(2) {
        letter-spacing: 4px;
    }

    .home-contant h1 {
        font-size: 48px;
    }

    .home-contant p {
        font-size: 15px;
        width: 380px;

    }

    .social-media a {
        margin: 20px 5px;
    }

    .btn {
        margin-top: 10px;
    }
}